* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  background-color: #f2db1e;
}

#container {
  margin: 10px 50px;
  border: 1px solid;
}

.image1 {
  position: fixed;
  width: 490px;
  right: 250px;
  z-index: -1;
}

.image2 {
  position: fixed;
  z-index: -2;
  right: -150px;
  width: 800px;
  opacity: 0.7;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

main {
  margin-left: 30px;
}

main ol {
  z-index: 1;
  list-style: none;
  display: inline-grid;
  gap: 2px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(20, 20px);
  grid-auto-flow: column;
}
  
main h1 {
  font-size: 80px;
  text-shadow: 1px 0px 1px #e79223, 
    -1px 0px 1px #e79223, 
    0px 1px 1px #e79223, 
    0px -1px 1px #e79223;
  transition: 300ms;
}

main ol li strong {
  text-shadow: 1px 0px 1px #782db1, 
    -1px 0px 1px #782db1, 
    0px 1px 1px #782db1, 
    0px -1px 1px #782db1;
  transition: 300ms;
}

main h1:hover {
  color: #e79223;
}

main ol li strong:hover {
  color: #782db1;
}



