* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  background-color: yellow;
}
/* no-repeat 35vw bottom */
/* #container {
  background-image: url('./assets/background.png');
} */

main {
  /* display: flex;
  flex-direction: column; */
  margin-left: 30px;
}

main ol {
  list-style: none;
  display: grid;
  max-width: 500px;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  clear: both;
}


main ol li:nth-child(-n+19)
{
  clear: both;
  grid-column-start: 1;
}

main ol li:nth-child(n+20)
{
  clear: both;
  grid-column-start: 2;
}

main h1 {
  font-size: 100px;
  text-shadow: 1px 0px 1px #FFA500, 
    -1px 0px 1px #FFA500, 
    0px 1px 1px #FFA500, 
    0px -1px 1px #FFA500;
}

main strong {
  text-shadow: 1px 0px 1px #9400d3, 
    -1px 0px 1px #9400d3, 
    0px 1px 1px #9400d3, 
    0px -1px 1px #9400d3;
} */

